# ${_changesetName} changeset is generated at ${_generatedAt}
databaseChangeLog:
- changeSet:
    id: ${_changesetName}-${_unixtimestamp}
    author: ${_author}
    changes:
      # ──────────────────────────────────────────────────────────────
      # ↓ Put your changes here ↓
      # ──────────────────────────────────────────────────────────────
      # - createTable:
      #     tableName: example
      #     columns:
      #       - column:
      #           name: id
      #           type: bigint
      #           autoIncrement: true
      #           constraints:
      #             primaryKey: true